/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

/*@import url(github-light.css);*/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

/* gold rgba(107, 87, 51) */
html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video
{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section { display: block; }
ol,
    ul { list-style: none; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

a { text-decoration: none; }

/*******************************************************************************
Theme Styles
*******************************************************************************/

.main { margin-top: 100px; }

.bg-image img
{
	width: 100%;
	postion: absolute;
	top: 0;
	left: 0;
}

.footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0 5px 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: .6em;
	color: white;
	text-align: center;
}

.footer a
{
	color: white;
	border-bottom: 1px dashed;
}

.nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #604820;
	padding: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 1em;
	color: #FFF;
	text-shadow: #000 2px 2px 3px;
	letter-spacing: 0.02em;
}

.nav li
{
	display: table-cell;
	padding: 3px 10px 3px 10px;
	width: 20%;
}

.nav a { color: #fff; }
body#introduction { padding: 20px 15% 20px 15%; }
body#homage { padding: 20px 15% 20px 15%; }

h1.chap_head
{
	font-size: 3em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 20px;
	color: #241B60;
}

p, .body_ind, .body_first-chap
{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5;
	text-indent: 15px;
}

.body_first-chap, .body_first, .body_first-spab { text-indent: 0; }
.body_first-spab { margin-top: 10px; }

.figure
{
	text-align: left;
	padding: 70px 20px 20px 0;
}

.figure img { width: 100%; }

sup
{
	font-size: 60%;
	vertical-align: super;
	padding: 0 3px 0 3px;
}

.footnotes
{
	font-size: .75em;
	margin-top: 50px;
}

.footnotes h2
{
	font-size: 1.5em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
}

.footnotes p {text-indent: 0;